@model IEnumerable<BloodTransfusionStationApp.Models.Врачи>

@{
    ViewBag.Title = "Врачи";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Врачи</h2>

<div>
    @using (Html.BeginForm("Index", "Врачи", FormMethod.Get))
    {
        <p>
            Введите фамилию врача: @Html.TextBox("doctorLastName")
            <button type="submit" class="btn btn-default">Искать</button>
        </p>
    }
    @ViewBag.Error
</div>
<br />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Имя)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Фамилия)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Отчество)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Должность)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ставка)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Стаж)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Имя)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Фамилия)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Отчество)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Должность)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ставка)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Стаж)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
