@model IEnumerable<BloodTransfusionStationApp.Models.Медицинское_оборудование>

@{
    ViewBag.Title = "Медицинское оборудование";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Медицинское оборудование</h2>
    <br />
    <p>
        @Html.ActionLink("Создать новую", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Наименование)
            </th>
            <th>
                Дата начала эксплуатации
            </th>
            <th>
                Срок окончания эксплуатации
            </th>
            <th>
                Расположение (номер кабинета)
            </th>
            <th>
                Ответственное лицо
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Наименование)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Дата_начала_эксплуатации)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Срок_окончания_эксплуатации)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Расположение__номер_кабинета_)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Врачи.Фамилия)
                </td>
                <td>
                    @Html.ActionLink("Изменить", "Edit", new { id = item.Номер_оборудования }) |
                    @Html.ActionLink("Подробнее", "Details", new { id = item.Номер_оборудования }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.Номер_оборудования })
                </td>
            </tr>
        }

    </table>