@model BloodTransfusionStationApp.Models.Прием_крови

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Прием_крови</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Дата приема
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Дата_приема)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Вознаграждение)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Вознаграждение)
            </dd>

            <dt>
                Вид донорства
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Вид_донорства)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Объем)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Объем)
            </dd>

            <dt>
                Фамилия врача
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Врачи.Фамилия)
            </dd>

            <dt>
                Фамилия донора
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Доноры.Фамилия)
            </dd>

            <dt>
                Группа крови
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Хранилища_крови.Группа_крови)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Номер_посещения }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
