@model IEnumerable<BloodTransfusionStationApp.Models.Прием_крови>

@{
    ViewBag.Title = "Приемы крови";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Приемы крови</h2>
    <div>
        <br />
        @using (Html.BeginForm("Index", "Прием крови", FormMethod.Get))
        {
            <p>
                Введите дату сдачи крови: @Html.TextBox("date")
                <button type="submit" class="btn btn-default">Искать</button>
            </p>
        }
        @ViewBag.Error
    </div>
    <br />
    <p>
        @Html.ActionLink("Создать новую", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                Дата приема
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Вознаграждение)
            </th>
            <th>
                Вид донорства
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Объем)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Врачи.Фамилия)
            </th>
            <th>
                Врач
            </th>
            <th>
                Группа крови
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Дата_приема, "Дата приема")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Вознаграждение)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Вид_донорства, "Вид донорства")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Объем)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Врачи.Фамилия, "Врач")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Доноры.Фамилия)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Хранилища_крови.Группа_крови, "Группа крови")
                </td>
                <td>
                    @Html.ActionLink("Изменить", "Edit", new { id = item.Номер_посещения }) |
                    @Html.ActionLink("Детально", "Details", new { id = item.Номер_посещения }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.Номер_посещения })
                </td>
            </tr>
        }

    </table>