@model BloodTransfusionStationApp.Models.Поставки_в_больницы

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Поставки_в_больницы</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Название)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Название)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Адрес)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Адрес)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Объем_поставки_цельной_крови)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Объем_поставки_цельной_крови)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Объем_поставки_плазмы_крови)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Объем_поставки_плазмы_крови)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Объем_поставки_имунной_плазмы)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Объем_поставки_имунной_плазмы)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Объем_поставки_эретроцитов_крови)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Объем_поставки_эретроцитов_крови)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Объем_поставки_тромбоцитного_концентрата)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Объем_поставки_тромбоцитного_концентрата)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Дата_поставки)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Дата_поставки)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Хранилища_крови.Группа_крови)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Хранилища_крови.Группа_крови)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
