@model IEnumerable<BloodTransfusionStationApp.Models.Поставки_в_больницы>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <br />
        @using (Html.BeginForm("Index", "Поставки_в_больницы", FormMethod.Get))
        {
            <p>
                Дата поставки после: @Html.TextBox("searchString")
                <br />
                <input type="submit" value="Фильтр" class="btn btn-default" />
            </p>
        }
        @ViewBag.Error
    </div>
    <br />
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Название)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Адрес)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Объем_поставки_цельной_крови)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Объем_поставки_плазмы_крови)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Объем_поставки_имунной_плазмы)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Объем_поставки_эретроцитов_крови)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Объем_поставки_тромбоцитного_концентрата)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Дата_поставки)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Хранилища_крови.Группа_крови)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Название)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Адрес)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Объем_поставки_цельной_крови)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Объем_поставки_плазмы_крови)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Объем_поставки_имунной_плазмы)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Объем_поставки_эретроцитов_крови)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Объем_поставки_тромбоцитного_концентрата)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Дата_поставки)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Хранилища_крови.Группа_крови)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</body>
</html>
