
@{
    ViewBag.Title = "Таблицы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Таблицы</h2>
<br />
<p>@Html.ActionLink("Врачи", "Index", "Врачи")</p><br />
<p>@Html.ActionLink("Доноры", "Index", "Доноры")</p><br />
<p>@Html.ActionLink("Информация о доноре", "Index", "Информация_о_доноре")</p><br />
<p>@Html.ActionLink("Медицинское оборудование", "Index", "Медицинское_оборудование")</p><br />
<p>@Html.ActionLink("Отделы хранилищ", "Index", "Отделы_хранилищ")</p><br />
<p>@Html.ActionLink("Хранилища крови", "Index", "Хранилища_крови")</p><br />
<p>@Html.ActionLink("Поставки в больницы", "Index", "Поставки_в_больницы")</p><br />
<p>@Html.ActionLink("Прием крови", "Index", "Прием_крови")</p><br />
<p>@Html.ActionLink("Расширенная информация о приемах крови", "Index", "FullIntakeInfo")</p><br />

