@model BloodTransfusionStationApp.Models.Информация_о_доноре

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Информация_о_доноре</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Количество сдач цельной крови за последний год
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Количество_сдач_цельной_крови_за_последний_год)
            </dd>

            <dt>
                Последняя дата сдачи иммунной плазмы
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Последняя_дата_сдачи_имунной_плазмы)
            </dd>

            <dt>
                Последий тромбоцитаферез
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Последий_тромбоцитаферез)
            </dd>

            <dt>
                Последний плазмаферез
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Последний_плазмаферез)
            </dd>

            <dt>
                Последний эритроцитаферез
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Последний_эритроцитаферез)
            </dd>

            <dt>
                Пройдено медицинское обследование
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Пройдено_медицинское_обследование)
            </dd>

            <dt>
                Окончание действия мед обследования
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Окончание_действия_мед__обследования)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Доноры.Фамилия)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Доноры.Фамилия)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Номер_донора }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
