@model IEnumerable<BloodTransfusionStationApp.Models.Информация_о_доноре>

@{
    ViewBag.Title = "Информация о донорах";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Информация о донорах</h2>

    <br />
    <p>
        @Html.ActionLink("Создать новую", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                Количество сдач цельной крови за последний год
            </th>
            <th>
                Последняя дата сдачи иммунной плазмы
            </th>
            <th>
                Последий тромбоцитаферез
            </th>
            <th>
                Последний плазмаферез
            </th>
            <th>
                Последний эритроцитаферез
            </th>
            <th>
                Пройдено медицинское обследование
            </th>
            <th>
                Окончание действия мед обследования
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Доноры.Фамилия)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Количество_сдач_цельной_крови_за_последний_год)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Последняя_дата_сдачи_имунной_плазмы)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Последий_тромбоцитаферез)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Последний_плазмаферез)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Последний_эритроцитаферез)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Пройдено_медицинское_обследование)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Окончание_действия_мед__обследования)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Доноры.Фамилия)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new { id = item.Номер_донора }) |
                    @Html.ActionLink("Подробнее", "Details", new { id = item.Номер_донора }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.Номер_донора })
                </td>
            </tr>
        }

    </table>
