@model IEnumerable<BloodTransfusionStationApp.Models.FullTakingBloodInf_Result>

@{
    ViewBag.Title = "Расширенная информация о донорах";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Расширенная информация о приемах</h2>

<br/>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Имя)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Фамилия)
        </th>
        <th>
            Вид донорства
        </th>
        <th>
            Группа крови
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Объем)
        </th>
        <th>
            Дата приема
        </th>
        <th>
            Фамилия врача
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Имя)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Фамилия)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Вид_донорства)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Группа_крови)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Объем)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Дата_приема)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Фамилия_врача)
        </td>
    </tr>
}

</table>
