@model IEnumerable<BloodTransfusionStationApp.Models.Хранилища_крови>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Хранилища крови</h2>
    <p>
        @Html.ActionLink("Создать новую запись", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                Группа крови
            </th>
            <th>
                Расположение номер кабинета
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Группа_крови)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Расположение__номер_кабинета_)
                </td>
                <td>
                    @Html.ActionLink("Изменить", "Edit", new { id = item.Номер_хранилища }) |
                    @Html.ActionLink("Подробнее", "Details", new { id = item.Номер_хранилища }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.Номер_хранилища })
                </td>
            </tr>
        }

    </table>