@model BloodTransfusionStationApp.Models.Доноры

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Доноры</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Имя)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Имя)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Фамилия)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Фамилия)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Отчество)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Отчество)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Дата_рождения)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Дата_рождения)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Пол)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Пол)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Группа_крови)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Группа_крови)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Телефон)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Телефон)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Адрес)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Адрес)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Паспортные_данные)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Паспортные_данные)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
